* {
    box-sizing: border-box;
    font-family: Gilam, sans-serif;
}

html,
body {
    height: 100%;
    background-color: #171717;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/*HEADER-style*/

.header {
    margin: 0 100px;
    height: 100px;
    display: flex;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btn-call {
    border: 1px solid #E4B564;
    background: transparent;
    width: 220px;
    height: 50px;
}

.btn-call__text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Circe', sans-serif;
    font-size: 18px;
    color: #E4B564;
    transition: .5s;
}

.btn-call__text:hover {
    transition: .5s;
    letter-spacing: 1px;
}

.icons {
    vertical-align: text-top;
    font-size: 18px;
    padding-right: 7px;
    color: #E4B564;
}

/*MAIN-style*/

.main {
    flex: 1 1 auto;
}

.main-content {
    margin: 0 100px;
}

.page-title {
    display: none;
}

.page-title__level2 {
    color: #FFFFFF;
    font-size: 50px;
}

.page-for-text {
    width: 90%;
    padding-top: 100px;
}

.page-text__level2 {
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 40px;
    line-height: 28px
}

.box-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 268px);
    gap: 20px;
    padding-top: 40px;
}

.items {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.items1 {
    grid-column: 1 / 3;
    background-color: #634F2C;
}

.items2 {
    grid-column: 3 / 5;
    background-color: #B4A385;
}

.items3 {
    grid-column: 5 / 7;
    background-color: #E4B564;
}

.items5 {
    grid-column: 1 / 4;
    background-color: #635A4A;
}

.items6 {
    grid-column: 4 / 7;
    background-color: #B08C4D;
}

.box-content_2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 253px 25px 30px 23px 107px 39px 116px 25px 276px;
    gap: 20px;
    padding: 40px 0 100px;
}

.items1_2 {
    grid-row: 1 / 4;
    background-color: #0E0E0E;
}

.items2_2 {
    grid-row: 1 / 6;
    background-color: #242424;
}

.items3_2 {
    background-color: #1F1F1F;
}

.items4_2 {
    grid-row: 2 / 8;
    background-color: #0E0E0E;
}

.items5_2 {
    grid-row: 4 / 10;
    background-color: #1F1F1F;
}

.items6_2 {
    grid-row: 6 / 10;
    background-color: #E4B564;
}

.items7_2 {
    grid-row: 8 / 10;
    background-color: #0A0909;
}

.section-main {
    height: 100%;
    background-color: #0E0E0E;
}

.section-content {
    margin: 0 100px;
}

.client-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
}

.box-clients {
    padding-top: 72px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 390px);
}

.items1_3 {
    background-color: #634F2C;
}

.items2_3 {
    background-color: #E8D2AB;
    font-size: 20px;
}

.items3_3 {
    background-color: #E4B564;
}

.items4_3 {
    background-color: #635A4A;
}

.items5_3 {
    background-color: #B08C4D;
}

.items6_3 {
    background-color: #634F2C;
}

.items-top {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
}

.items-vector {
    position: relative;
    width: 100%;
}

.text-style {
    position: absolute;
    top: 182px;
    left: 36px;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
}

.text-style__letters {
    border-right: 4px solid white;
    padding-right: 7px;
}

/*FOOTER-style*/

.footer {
    height: 120px;
}

